@media (prefers-color-scheme: dark) {

  
    body{
       background: rgb(46, 46, 46);
        
    }

     .nav_container{
         background: rgb(46, 46, 46); 
         border: 1px solid gray;

    }

    

   ul li a{
    color:rgb(58, 57, 56); 
    text-shadow:1px 1px 5px  rgb(253, 253, 255), 
                1px 1px 10px rgb(248, 248, 248);
        }

 
 

    .footer_title,p, .footer_last_text{ 
        color:rgb(182, 181, 181); 
        text-shadow:1px 1px 5px  rgb(146, 147, 196),
                    1px 1px 7px  rgb(102, 103, 155),
                    1px 1px 10px rgb(74, 75, 117);
                    -webkit-text-stroke: 0;
       }
    
       .firstText, .footer_title, .logo, span {
        color:rgb(58, 57, 56); 
        text-shadow:1px 1px 5px  rgb(253, 253, 255), 
                    1px 1px 10px rgb(248, 248, 248);
                    -webkit-text-stroke: 0;
    }

       .splash{
        background: rgb(66, 66, 66);
    } 
     
    ::selection {
        color:rgb(255, 255, 255); 
        text-shadow:1px 1px 5px  rgb(196, 196, 196),
                    1px 1px 7px  rgb(173, 173, 173),
                    1px 1px 10px rgb(128, 128, 128);
        
        }

        .mypic{
            filter: contrast(200%) ;
        }


    .footer, .footer_last_text{
        background: rgb(46, 46, 46);
    }


    b{
        color: rgb(168, 231, 168);
    }

    
strong {
    color:rgb(187, 187, 187); 
    text-shadow:1px 1px 5px  rgb(136, 136, 138),
                1px 1px 7px  rgb(122, 122, 122),
                1px 1px 10px rgb(72, 72, 73); 
    }

    #loder{ 
        background: #5b6a97; 
       }

    .footer_text:hover{
        color: rgb(223, 223, 235);
    }

 

        .footer{ 
            border-top: 1px solid gray;
              }
         
 

             #user, #phone, #message, #searchBar{
                  background: radial-gradient( rgb(74, 73, 80), transparent) ;
                  color:rgb(248, 212, 206); 
                  }

                  #submit {
                      background: transparent;
                      color: rgb(248, 212, 206); 
                  }

                  #submit:hover{
                      background: transparent;
                  }
}